output_videos/cropped_image.jpg
output_videos/output_video_24fps.avi
output_videos/output_video_interpolate_ball_positions.avi
output_videos/output_video_raw.avi
output_videos/output_video_teams_assigned.avi
models/best.pt
output_videos/output_video_player_with_ball.avi
output_videos/output_video_team_ball_control.avi
output_videos/output_video_camera_movement_and_adjust_track.avi
output_videos/output_video_perspective_transform.avi
output_videos/box_check.mp4
output_videos/output_video_player_speed_and_distance.avi
